<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403330039742-9h25lq16rec4g5h6sib4vpic1l8o43n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403330039742-9h25lq16rec4g5h6sib4vpic1l8o43n9</string>
	<key>API_KEY</key>
	<string>AIzaSyDVmJDt6wdtYGAxu3dNLaG9gUtpbdLVXJo</string>
	<key>GCM_SENDER_ID</key>
	<string>403330039742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vinyar-project.FoodAppList</string>
	<key>PROJECT_ID</key>
	<string>foodapplist</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapplist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403330039742:ios:670b4fff53900e9f0843ef</string>
</dict>
</plist>